body{
    background-color: rgba(0, 221, 255, 0.179);   
}
#m1{
    height:250px;
    width: 400px;
    position: relative;
    left: 25%;
    top:10px
}
#m2{
    height:250px;
    width: 400px;
    position: relative;
    left: 30%;
    top:10px;
}
#a1{
    text-decoration: none;
    position: relative;
    top: 50px;
    left:-2.8%;
    border: solid 3px black;
    border-radius: 25%;
}