body{
    background-image: url(https://www.wallpapertip.com/wmimgs/83-838296_web-designer-professional-website-background-images.jpg);
}
h1{
    color: azure;
    text-align: center;
}
p{
    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    position: relative;
    top: 50px;
}
a{
    text-decoration: none;
    font-size: 150%;
    color: aliceblue;
    border:solid 2px blanchedalmond;
    position: relative;
    left: 45%;
    top:80px;
    border-radius: 50px;
}